<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css') }}"
    />
    <title>Diabetes Prediction</title>
  </head>
  <body>
    <section class="container">
      <header>
        <h1 id="title">Diabetes Prediction</h1>
      </header>
      <form action="{{url_for('predict')}}" method="post">
        <div class="prediction_form">
          <label id="glucose" for="glucose-level" name="glucose"
            >Glucose level:</label
          >
          <input
            type="text"
            id="glucose-level"
            placeholder="Enter ypur glucose level"
            name="glucose"
            required
            size="30"
          />
          <br />

          <label id="insulin" for="insulin-level" name="insulin"
            >Insulin level:</label
          >
          <input
            type="text"
            id="insulin-level"
            placeholder="Enter your insulin level"
            name="insulin"
            required
            size="30"
          />
          <br />

          <label id="bmi" for="bmi-level" name="bmi">BMI level:</label>
          <input
            type="text"
            id="bmi-level"
            placeholder="Enter your bmi level"
            name="bmi"
            required
            size="30"
          />
          <br />

          <label id="age" for="age" name="age">Age:</label>
          <input
            type="text"
            id="age"
            placeholder="Enter your Age"
            name="age"
            size="30"
          />
        </div>
        <br />
        <div class="button">
          <button id="submitBtn">Submit</button>
        </div>
        <div id="predictionResult"><h2>{{prediction_text}}</h2></div>
      </form>
    </section>
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
